
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    min-height: 1000px;
    margin: 0;
    /* background-image: url("https://images.pexels.com/photos/5312338/pexels-photo-5312338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
    background-size: 100%;
    background-position:top;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a img{
    width: 70px;
    border-radius: 100%;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
    background: url("https://images.pexels.com/photos/11520947/pexels-photo-11520947.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner .banner-content{
    display: flex;
    width: 100%;
    background-color: hwb(0 28% 72% / 0.35);
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10vh;
    text-align: center;
    row-gap: 15px;
}
.banner .banner-content h1{
    color: #fff;
    border-bottom: 3px solid white;
    opacity: 1.0;
}
.banner .banner-content p{
    color: rgb(255, 255, 255);
    text-shadow: 5px #1b1b1b;
    font-weight: 400;
}

.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.menu-list .icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .menu-list  .icon{
    display: block;
  }
  .menu-list  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}



.website-intro{
    display: grid;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
.showcase{
    display: grid;
    text-align: center;
    margin-top: 25px;
}
.showcase .show-heading{
    color: #bb2020;
    font-size: large;
    text-transform: uppercase;
    font-weight: 1000;
}

.showcase .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 40px 0 40px;
}
.box .theme-titl{
    width: 50%;
    padding-bottom: 50px;
}
.box .theme-title h3{
    font-size: 1em;
    font-weight: bolder;
    padding-bottom: 2px;
    border-bottom: 3px solid #222;
}
.box .img-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.box .img-container .img-items{
    display: flex;
    flex-direction: column;
    width: 49.5%;
    padding: 15px 5px 0 5px;
}
.box .img-container .img-items img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 25px;
}



.about{
    padding: 2rem;
    text-align: center;
}
footer{
  background-color: #333;
}
footer .contact{
    text-align: center;
    padding: 1rem 1rem;
    margin: auto;
    color: rgb(255, 255, 255);
}
footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}
.social-media{
  max-width: 350px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  list-style: none;
  padding: 0 0 15px 0 ;
}
.social-media .icon{
  width: 30px;
  height: 30px;
  text-align: center;
}
.social-media .icon .fa {
  text-decoration: none;
}
footer p{
  padding: 15px 0 15px 0;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}


@media only screen and (max-width: 673px) {
    .showcase .box{
        margin: 0 5px 0 10px;
    }
    .box .img-container {
        flex-direction: column;
    }
    .box .img-container .img-items{
        width: 99%;
    }
}
